
<div class="container">
<div th:insert="template/menu.html"></div>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      <!--  <h2>Cadastro de Servidor.</h2>-->
<div class="panel panel-default">
  <div class="panel-heading">Cadastrar Material</div>
  <div class="panel-body">
        <form role="form" method="post" action="/material">
           <div class="form-group">
    <label for="material_id">ID:</label>
    <input type="text" class="form-control" id="material_id" name="material_id" readonly="readonly" value="0">
  </div>
           <div class="form-group">
              <label for="name">Nome:</label>
              <div class="input-group">
              <input type="text" class="form-control" id="nome" name="nome">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
              </span>
              </div>
           </div>
           
             <div class="form-group">
              <label for="unidade">Unidade:</label>
              <select id="unidade" name="unidade" class="form-control">
              <option value="UN">Unidade</option>
              <option value="CX">Caixa</option>
              <option value="L">Litro</option>              
               </select>             
             </div>
             
<!--            <div class="form-group"> -->
<!--               <label for="quantidade">Quantidade:</label> -->
<!--               <input type="number" class="form-control" id="quantidade" name="quantidade"></input> -->
<!--            </div> -->

        
           
           
            <div class="form-group">
              <label for="precoMedio">Preço Médio:</label>
             <input type="text" class="form-control" id="precoMedio" name="precoMedio">
             </div>
             
<!--                <div class="form-group"> -->
<!--               <label for="valor_total">Valor Total:</label> -->
<!--              <input type="text" class="form-control" id="valor_total" name="valor_total"> -->
<!--              </div> -->
          
           
           <div class="form-group">
            <label for="especieMaterial">Espécie do Material:</label>
            <div class="input-group">                            
              <input type="text" class="form-control" id="especieMaterial" readonly="readonly" >
              <input type="hidden" id="especieMaterialId" name="especieMaterialId" value="1"/>
              <span class="input-group-btn">
              <a  class="btn btn-default" role="button" data-toggle="modal"  data-target="#modalEspecieMaterial" ><span class="glyphicon glyphicon-search"></span>&nbsp;</a>
            </span>
            </div>
            
<!--             <div class="form-group"> -->
<!--             <label for="productType">Tipo de Produto:</label> -->
<!--             <div class="input-group">                             -->
<!--               <input type="text" class="form-control" id="productType" readonly="readonly" value="0"> -->
<!--               <input type="hidden" id="productTypeId" name="productTypeId" /> -->
<!--               <span class="input-group-btn"> -->
<!--               <a  class="btn btn-default" role="button" data-toggle="modal"  data-target="#modalType" ><span class="glyphicon glyphicon-search"></span>&nbsp;</a> -->
<!--             </span> -->
<!--             </div> -->
<!--              </div> -->
             </div>
             
               <div class="form-group">
              <label for="descricao">Descrição:</label>
              <textarea type="text" class="form-control" id="descricao" name="descricao"></textarea>
           </div>
          <!-- Trigger the modal with a button -->

 <button type="submit" class="btn btn-default">Salvar</button><br/><br/> 

  </form><!-- /end form -->
  </div>
      </div>
      </div>
          <!-- /Begin modal EspecieMaterial-->
 <div id="modalEspecieMaterial" class="modal fade" role="dialog" >
  <div class="modal-dialog">
 <form role="form" class="group">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Buscar Espécie do Material</h4>
      </div>
      <div class="modal-body">
    <table id="especieMaterialTable">
      <thead>
        <tr>
            <th>ID</th>
<!--             <th>GRUPO</th> -->
            <th>NOME</th>             
            <th>AÇÃO</th>
            
        </tr>
    </thead>   
    </table> 
  </form><!-- /end form-->
      </div>
      <div class="modal-footer">
<!--         <button id="submit" class="btn btn-default" data-dismiss="modal">Salvar</button> -->
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    
    </div>

  </div>
</div><br/><br/><!-- /end modal EspecieMaterial-->
</div>

 <script type="text/javascript">
// Modal programming
       $('#modalEspecieMaterial').on('show.bs.modal', function (e) {
           $('#especieMaterialTable').DataTable( {
           	retrieve: true,
               "ajax":{url: '/api/v1/especiematerial?type=json', dataSrc:""},
                "columns":[
               	 {"data":"id"},
               	 {"data":"nome"},               
               	 {"defaultContent":'<a class="btn btn-mini" data-dismiss="modal" onclick="setEspecieMaterialValue(this)" >Escolher</a>'}
               	 
                ]
               
           } );
         
         var modal = $(this);

   });
       

       function setEspecieMaterialValue(element){
    	   
    	   table = $('#especieMaterialTable').DataTable( { retrieve: true} );
       	$('#especieMaterialTable tbody').on( 'click', 'tr', function () {
      	   var row_data = table.row(this).data();
             console.log("ROW DATA "+row_data.id+" - "+row_data.nome)
       		$("#especieMaterialId").val(row_data.id);
       		$("#especieMaterial").val(row_data.nome);
     	});
    	   
        	$('#modalEspecieMaterial.in').modal('hide');
      
        }
  
// Money mask programming
$(function(){
	// $('#precoMedio').maskMoney();
	$("#precoMedio").maskMoney(
      {prefix:'R$ ',    	  
    	  thousands:'.',
    	  decimal:',',
    	  affixesStay: false});
})


       
       
       
      
</script>
